<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="" class="">
                    Home
                </a>
            </div>
            <div class="col">
                <a href="" class="">
                    Projects
                </a>
            </div>
            <div class="col">
                <a href="" class="">
                    About
                </a>
            </div>
            <div class="col">
                <a href="" class="">
                    Contact
                </a>
            </div>
        </div>
    </div>
</header>