<div class="container" id="projects">
    <h2>Projects</h2>
    <!--Con bootstrap, crear un grid con 2 rows y 3 cols-->
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Regex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Regular Expresions</h5>
                    <p class="card-text">This project is a practice of my university, in which I worked to receive text strings and validate that it complies with the given grammar.</p>
                    <!--Redirecionar a otra pestaña-->
                    <a href="https://azt3kcode.github.io/Teoria-Automatas-E2/" class="btn btn-primary">Check project</a>
                </div>
            </div>
        </div>
    </div>
</div>