<div id="home"></div>
<div class="container">
    <div class="row">
        <div class="col home_information animation">
            <h1>Alexis Trejo</h1>
            <p>Web Development Technician</p>
            <button>
                Contact
            </button>
        </div>
        <h2 class="home_skillTitle">Skills</h2>
        <div class="cube" id="cube">
            <div class="side" id="front">GIT</div>
            <div class="side" id="bottom">SCSS</div>
            <div class="side" id="top">TS</div>
            <div class="side" id="left">PHP</div>
            <div class="side" id="right">Angular</div>
            <div class="side" id="back">SQL</div>
        </div>
    </div>    
</div>